{% layout "layouts/base_site.liquid" %}

{% block body_content %}
  <section class="ui container">
    <h1>{{ error.name }}</h1>
    <p>
      {{ error.message }}
    </p>

    <pre>{{ error.stack }}</pre>

  </section>

  {% comment %}
  보안은 나중에 생각. 환경변수 기반의 분기가 필요할듯
  {% endcomment %}
{% endblock %}